.fullButton {
	width: 100% ;
	background-color: var(--twitter-color);
    padding: 1rem;
    /* margin-right: 20px; */
    border-radius: 30px;
    outline: none;
    font-weight: 900px;
    font-size: medium;
    border: none;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
}
.fullButton:hover {
	color: var(--twitter-color);
	background-color: var(--twitter-background);
}

.smButton {
	/* min-width: 47px ; */
	background-color: var(--twitter-color);
    padding: 1rem;
	color: white;
	border-radius: 30px;
	width: 20%;
	border: none;
	outline: none;
}
.smButton:hover {
	color: var(--twitter-color);
	background-color: var(--twitter-background);
}


