.dashboard {
	width: 70%;
	display: flex;
	align-self: center;
	margin-bottom: 20px;
	justify-content: space-around;
}
.dashboard:hover {
	background-color: var(--twitter-background);
	border-radius: 30px;
	color: var(--twitter-color);
	transition: color 100ms easy-out;
}
.dashboard:active {
	background-color: var(--twitter-color);
}

@media screen and (max-width: 1260px) {
	.dashboard {
		width: 100%;
		display: flex;
		align-items: center;
	}
	.dashboard-text {
		display: none;
	}
}