/* .feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: 520px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
}

.feed::-webkit-scrollbar {
    display: none;
} */


