.feed-layout {
	flex: 0.55;
	border-right: 1px solid var(--twitter-background);
	min-width: 520px;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.feed-layout::-webkit-scrollbar {
	display: none;
}
.feed-layout-header {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
	border: 1px solid var(--twitter-background);
}
.feed-layout-header > h2 {
	font-size: 20px;
	font-weight: 800;
}

@media screen and (max-width: 1060px) {
	.feed-layout {
		flex: 0.9 !important;
	}
}
@media screen and (max-width: 1260px) {
	.feed-layout {
		flex: 0.7;
	}
}
